@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table">
        <tbody>
            @foreach (var p in Model.Pubs)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Municipality.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
